
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {height: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */

body {
	background-color: black;
	overflow: none;
}

img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -webkit-transition:-webkit-filter 0.5s ease-in-out;
}

img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

body {min-width:960px; overflow:hidden;}
body > div {position: absolute; top:0; width:100%; height: 100%}
#buttons {z-index: 100; width:100%; height:0;}
#buttons>img {position: absolute;}
#buttons>.button {top: 450px;}
#illustrations {z-index: 50; height: 100%; width: inherit; position: absolute;}
#illustrations>img {position:absolute; z-index:1; height: 103%; left: -17%; top: -3%}
#illustrations>img.white {z-index:2;}
#logo {position: absolute; top: 200px; left: 89px; width: auto; height: auto; z-index: 100;}
img#indigo {width: 196px; position: relative; top: 420px; z-index:0;}
#next {right: 80px;}
#prev {left: 80px;}
#videowrapper {position: relative;}
#video {z-index: 1; height: auto; width: 100%; position: relative;}
#layer0video {z-index: 10;}
#layer1video {z-index: 11;}
#blackbar {background-color:black; top:0; left:0; position:absolute; z-index: 1000;}
#blackbar.bottom,#blackbar.top {width: 100%;}

.hidden {opacity: 0;}
.button {cursor: pointer;}
img.center {display: block; margin: 0 auto;}
/*@media (max-height: 590px) {make sure red lion logo doesn't overlap the navigators}*/